<div class="container">
    <div class="card text-white bg-secondary mb-3" style="position: relative;">
        <div class="card-header">{{ title }} {{action}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre de la variable" [(ngModel)]="nombreVariable">
                        <button mat-button *ngIf="nombreVariable" matSuffix mat-icon-button aria-label="Clear" (click)="nombreVariable=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h2>{{numero}}</h2>
                        </div>
                        <div class="col">
                            <button mat-raised-button (click)="addNumber()" [disabled]="this.numero == ''">ADD</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <button *ngIf="editando" (click)="crearNueva()" mat-raised-button>Crear nueva</button>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="demo-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let item of exp" [selectable]="selectable" [removable]="removable" (removed)="remove(item)" color="primary">
                            {{item.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="row" style="max-height: 550px;">
                <div class="col-sm-12 col-md-5 col-lg-4" style="overflow: auto; max-height: 550px;">
                    <div class="alert verde" *ngFor="let item of listVariables" style="font-size: 12px; position: relative !important; height: 60px;"
                        role="alert">
                        <button type="button" class="btn btn-link" style="color: #fff;" (click)="addItem(item, true)">{{item.name}}</button>
                    </div>
                    <div class="alert verde" *ngFor="let item of listVariables2" style="font-size: 12px; position: relative !important; height: 60px;"
                        role="alert">
                        <button type="button" class="btn btn-link" style="color: #fff;" (click)="addItem(item, false)">{{item.name}}</button>
                        <button type="button" class="close" aria-label="Close" (click)="deleteVariable(item)" style="position: absolute !important; bottom: 0 !important; right: 0 !important; color: #fff;">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button type="button" class="close" aria-label="Close" (click)="editVariable(item)" style="position: absolute !important; top: 0 !important; right: 0 !important; color: #fff;">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-sm-10 col-md-7 col-lg-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('X')" [disabled]="blockOperators()">X</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('/')" [disabled]="blockOperators()">/</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('-')" [disabled]="blockOperators()">-</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('+')" [disabled]="blockOperators()">+</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('sqrt')" [disabled]="blockOperators()">√</button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('1')">1</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('2')">2</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('3')">3</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('^')" [disabled]="blockOperators()">^</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="promedio()">PROM</button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('4')">4</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('5')">5</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('6')">6</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('(')" [disabled]="blockOperators()">(</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="maximo()">MAX</button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('7')">7</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('8')">8</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('9')">9</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator(')')" [disabled]="blockOperators()">)</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="minimo()">MIN</button>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('0')">0</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addDigint('.')">.</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="clean()">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="sii()">SI</button>
                                </th>
                                <th scope="col">
                                    <button *ngIf="if_station==1" mat-fab color="primary" (click)="then()">
                                        THEN
                                    </button>
                                    <button *ngIf="if_station==2" mat-fab color="primary" (click)="_else()">
                                        ELSE
                                    </button>
                                    <button *ngIf="if_station!=1&&if_station!=2" mat-fab color="primary" (click)="create()" [disabled]="!nombreVariable">
                                        <i class="fas fa-save"></i>
                                    </button>
                                </th>
                            </tr>
                            <tr *ngIf="if_station==1">
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('>')">></button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('<')">
                                        <</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('==')">==</button>
                                </th>
                                <th scope="col">
                                    <button mat-fab color="primary" (click)="addOperator('!=')">!=</button>
                                </th>
                                <th scope="col">
                                    <!--button mat-fab color="primary" (click)="minimo()">MIN</button-->
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <button mat-raised-button class="verde" routerLink="/definicion-variables/criterios-indicadores" style="left: 35%; position: absolute; bottom: 5px;">
            <i class="fas fa-arrow-alt-circle-left"></i>
        </button>

        <button mat-raised-button class="verde" style="right: 5%; position: absolute; bottom: 5px;" routerLink="/definicion-variables/arbol">
            <i class="fas fa-arrow-alt-circle-right"></i>
        </button>
    </div>
</div>