<div class="">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <h1>{{title}} ( {{action}} )</h1>
        </div>
    </div>
    <!-- BEGIN input de formula -->
    <div class="mdl-grid myContainer" style="position: relative;">
        <div class="mdl-cell mdl-cell--2-col">
            <mat-form-field appearance="outline" style="width: 100%;">
                <input matInput placeholder="Nombre de la variable" [(ngModel)]="nombreVariable">
                <button mat-button *ngIf="nombreVariable" matSuffix mat-icon-button aria-label="Clear" (click)="nombreVariable=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mdl-cell mdl-cell--10-col">
            <mat-form-field appearance="outline" class="demo-chip-list" style="margin-right: 0; display: block;">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let item of exp" [hidden]="item.name == nombreVariable" [ngStyle]="{'background-color' : getColor(item) == 1 ? '#327AB3' : '#DCDCDC'}"
                        style="font-size: 9px;" [selectable]="selectable" [ngClass]="{'bg-variable': selectedVariable(item)}" [removable]="removable" (removed)="remove(item)" [matMenuTriggerFor]="opcItem"
                        (click)="changeItem(item)">
                        {{item.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                </mat-chip-list>
            </mat-form-field>
        </div>
        <button style="font-size: 9px; position: absolute; left: 20px; top: -22px;" *ngIf="exp.length > 0" (click)="crearNueva()"
            mat-raised-button>Cancelar</button>
        <button style="font-size: 9px; background-color: #BB90A5; color: #ffffff; position: absolute; left: 110px; top: -22px;" *ngIf="editando"
            (click)="deleteVariable()" mat-raised-button>Eliminar</button>
    </div>

    <!-- begin opciones items -->
    <mat-menu #opcItem="matMenu">
        <button mat-menu-item (click)="changeVariable()">Change</button>
        <button mat-menu-item [hidden]="positionToChange == 0" (click)="moveLeft()">Move left</button>
        <button mat-menu-item [hidden]="positionToChange == exp.length-1" (click)="moveRight()">Move right</button>
    </mat-menu>
    <!-- end opciones items -->

    <!-- END input de formula -->

    <!-- BEGIN calc1 -->
    <div class="myContainer">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col" style="overflow: auto; max-height: 400px;">
                <div style="display: grid; grid-template-columns: 1rf; gap: 5px;">
                    <button mat-button class="btn-azul" style="width: 100%; text-align: left;" *ngFor="let item of listVariables" (click)="addItem(item, true)">{{item.name}}</button>
                </div>
                <hr>
                <div style="display: grid; grid-template-columns: 1rf 1rf; gap: 5px; position: relative;" *ngFor="let item of listVariables2">
                    <button class="btn-azul" mat-button style="text-align: left; position: relative; margin-top: 5px;" (click)="addItem(item, false)">{{item.name}}
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--primary" style="color: #fff; position: absolute;  margin-top: 5px; width: 20px; right: 0;" (click)="editVariable(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col">
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #DCDCDC;" (click)="create()"
                            [disabled]="!nombreVariable">
                            <i class="fas fa-save"></i>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="clean()">
                            <i class="fas fa-eraser"></i>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #90A7BB;" (click)="promedio()">
                            <span style="font-size: 15px;">
                                PROM
                            </span>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('X')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">X</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="sii()">
                            <span style="font-size: 15px;">
                                IF
                            </span>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="then()">
                            <span style="font-size: 15px;">
                                THEN
                            </span>
                        </button>
                    </div>
                </div>

                <!-- begin segunda linea -->
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('7')">7</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('8')">8</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('9')">9</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('/')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">/</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('<')">
                            <</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('>')">></button>
                    </div>
                </div>
                <!-- end segunda linea -->
                <!-- begin tercera linea -->
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('4')">4</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('5')">5</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('6')">6</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('+')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">+</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('==')">==</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('!=')">!=</button>
                    </div>
                </div>
                <!-- end tercera linea -->
                <!-- begin cuarta linea -->
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('1')">1</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('2')">2</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('3')">3</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('-')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">-</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('<=')">
                            <=</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="addOperator('>=')">>=</button>
                    </div>

                </div>
                <!-- end cuarta linea -->
                <!-- begin quinta linea -->
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('(')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">(</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('0')">0</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator(')')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">)</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('sqrt')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">√</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="_else()">
                            <span style="font-size: 15px;">
                                ELSE
                            </span>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BBBA90;" (click)="endIf()">
                            <span style="font-size: 15px;">
                                END IF
                            </span>
                        </button>
                    </div>
                </div>
                <!-- end quinta linea -->
                <!-- begin sexta linea -->
                <div class="mdl-grid" style="width: 100%;">
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #90A7BB;" (click)="minimo()">
                            <span style="font-size: 15px;">
                                MIN
                            </span>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #BB90A5;" (click)="addDigint('.')">.</button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: #90A7BB;" (click)="maximo()">
                            <span style="font-size: 15px;">
                                MAX
                            </span>
                        </button>
                    </div>
                    <div style="width: 16%;">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" (click)="addOperator('^')" [disabled]="blockOperators()"
                            [ngStyle]="{'background-color': blockOperators() ? '#DCDCDC' : '#90A7BB'}">^</button>
                    </div>
                </div>
                <!-- end sexta linea -->
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
                <button mat-raised-button class="azul" routerLink="/definicion-variables/criterios-indicadores" style="width: 100%;">
                    Ir a criterios mínimos del buró
                </button>
            </div>
            <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
                <button mat-raised-button class="azul" routerLink="/definicion-variables/arbol" style="width: 100%;">
                    Ir al árbol de valuación
                </button>
            </div>
        </div>
    </div>
    <!-- END   calc1 -->
</div>



<!-- <button mat-raised-button class="verde" routerLink="/definicion-variables/criterios-indicadores" style="left: 5%; position: absolute; bottom: 5px;">
    <i class="fas fa-arrow-alt-circle-left"></i>
</button>

<button mat-raised-button class="verde" style="right: 5%; position: absolute; bottom: 5px;" routerLink="/definicion-variables/arbol">
    <i class="fas fa-arrow-alt-circle-right"></i>
</button> -->