mat-chip {
    max-width: 200px;
  }
  
  .demo-chip-list {
    width: 100%;
  }
  .btn-azul {
    background-color:  #327AB3;
   color: #ffffff;
  }

  .bg-variable{
    background-color:  #7bc !important;
    font-size: 15px !important;
    font-style: italic !important;
  }