// .contenedor{
//     width: 100%;
//     display: grid;
//     grid-template-columns: 3fr 7fr 2fr;

//     .center{
//         text-align: center;
//     }

//     .example-form {
//         width: 100% !important;
//     }
    
//     .example-full-width {
//         display: block;
//     }

//     .botones{
//         width: 100%; background-color: #116AAE; border: 1px solid #116AAE; color: #ffffff
//     }
// }
// .botoness{
//     width: 100%;
//     margin-top: 15px;
//     background-color: #8B98A1;
//     color: #ffffff;        
// }

// .mano:hover{
//     color: #C19A1C !important;
//     cursor: pointer;
//   }

.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;

    .center{
        text-align: center;
    }

    .example-form {
        width: 100% !important;
    }
    .example-form-field{
        width: 70%;
    }
    
    .example-full-width {
        display: block;
    }
    .botones{
        width: 100%;
        margin-top: 15px;
        background-color: #8B98A1;
        color: #ffffff;        
    }
}
.mano:hover {
    color: #C19A1C !important;
    cursor: pointer;
}