<mat-toolbar>
  <mat-toolbar-row>
    <span>{{data.msg}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<table cellspacing="25" style="width: 100%;">
  <tr>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Perfil" [(ngModel)]="data.userToDown.reason">
        <mat-option *ngFor="let reason of _ConfirmationService.downReasonList" [value]="reason.id">
          {{reason.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </tr>
  <tr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Comentario" [(ngModel)]="data.userToDown.commentary" #input (input)="input.value=$event.target.value.toUpperCase()">
    </mat-form-field>
  </tr>
  <tr>
    <button mat-raised-button style="width: 60%;" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button [disabled]="data.userToDown._READY()" style="width: 40%; background-color: #C8A637; color: #ffffff;"
      (click)="confirmar()">{{data.action}}</button>
  </tr>
</table>