<!-- Wide card with share menu button -->

<div *ngIf="!auth"  class="mycenter">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{title}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Para iniciar sesión en crediwhere haz click en el link de abajo.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/login-panel">
                Iniciar sesión
            </a>
        </div>
        <!-- <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" >
                <i class="material-icons">share</i>
            </button>
        </div> -->
    </div>
</div>

<!-- <div *ngIf="!auth">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to {{ title }}</h1>
        <hr class="my-4">
        
        <button mat-raised-button color="primary">Log-in</button>
    </div>
</div> -->


<div *ngIf="auth" class="card border-dark mb-3">
    <div class="card-header">Menu</div>
    <div class="card-body text-dark">
        <div class=" container">
            <div *ngFor="let item of buttons" style="float: left; margin-left: 5% !important;">
                <button type="button" class="btn btn-outline-dark" style="border-radius: 50%; height: 250px; width: 250px;" routerLink="/{{item.link}}">{{item.menu}}</button>
            </div>
        </div>
    </div>
</div>