<div class="center" style="width: 100%; height: 10vh; font-size: 60px; padding-top: 47px; color: #6B6B6B;">
  Busqueda de usuarios
</div>
<div class="contenedor" style="height: 69vh !important; background-color: #FAFAFA; padding: 20px;">

  <mat-card class="item-class" style="height: 15%; background-color: #fff">
    <table cellspacing="25" style="width: 100%;">
      <tr>
        <td>
          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Email">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="RFC o CURP">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput placeholder="Folio">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card>
  <mat-card style="height: 60%; overflow: auto;">
    <table class="myTable" mat-table [dataSource]="_BusquedaUsuariosService.ELEMENT_DATA">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element" (click)="_BusquedaUsuariosService.editUser(element)"> {{element.id}} </td>
      </ng-container>

      <!-- mail Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" (click)="_BusquedaUsuariosService.editUser(element)"> {{element.mail}} </td>
      </ng-container>

      <!-- profile Column -->
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef> Perfil </th>
        <td mat-cell *matCellDef="let element" (click)="_BusquedaUsuariosService.editUser(element)"> {{element.profile}} </td>
      </ng-container>

      <!-- num_client Column -->
      <ng-container matColumnDef="num_client">
        <th mat-header-cell *matHeaderCellDef> Número de usuario </th>
        <td mat-cell *matCellDef="let element" (click)="_BusquedaUsuariosService.editUser(element)">
          {{element.num_client}}
        </td>
      </ng-container>

      <!-- Baja Column -->
      <ng-container matColumnDef="ver">
        <th mat-header-cell *matHeaderCellDef> Baja </th>
        <td mat-cell *matCellDef="let element">
          <button class="delete-btn" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>