.pomp:hover{
    cursor: pointer;
    color: red;   
}

/* Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.myTable{
  td:hover{
    cursor: pointer;
  }
}

.delete-btn:hover{
  color: #F1F1F1; 
}