<div style="margin: 5% !important" class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <div class="card border-secondary mb-3">
        <div class="card-header bg-transparent border-secondary">{{title}}</div>
        <div class="card-body text-secondary">
            <form #loginForm="ngForm" class="example-form" (ngSubmit)="onSubmit(loginForm);">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email" name="email" [errorStateMatcher]="matcher">
                    <button mat-button *ngIf="user.email" matSuffix mat-icon-button aria-label="Clear" (click)="user.email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint>Enter your email</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" [formControl]="pwdFormControl" [(ngModel)]="user.pwd" name="pwd" [type]="hide ? 'text' : 'password'"
                        [errorStateMatcher]="matcher">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-hint>Password</mat-hint>
                    <mat-error *ngIf="!pwdFormControl.hasError('required')">
                        The wrong password
                    </mat-error>
                    <mat-error *ngIf="pwdFormControl.hasError('required')">
                        Password is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">ENTRAR!</button>
            </form>
        </div>
    </div>

</div>