<div *ngIf="auth" class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">CREDIWHERE</span>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" (click)="logOut()" routerLink="/login-panel" href>Salir</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{email}}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Definición de variables</a>
            <a class="mdl-navigation__link" href="">Test</a>
            <a class="mdl-navigation__link" href="">Tracking</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
        </div>
    </main>
</div>