.contenedor-informacion-general{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 25px;
}

mat-tab-group{
    border-left: 5px solid #B58B00 !important;
}

.imagenes-aprobadas{
    width: 100%;
    height: 500px;
}
.imagenes-Noaprobadas{
    width: 100%;
    height: 500px;
}

.container-galeria{
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-img{
    height: 200px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}

.overImage:hover{
    cursor: pointer;
}
