<mat-accordion class="example-headers-align">

  <mat-expansion-panel *ngFor="let usuario of _UserListService.userList; let i = index;" [expanded]="step === i" (opened)="setStep(i)"
    hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="width: 50%;">
        <label style="color: rgb(131, 131, 131)">Correo electrónico
          <span style="color: black">{{usuario.mail}}</span>
        </label>
      </mat-panel-title>
      <mat-panel-description>
        <label style="color: rgb(131, 131, 131)">Registro
          <span style="color: black">{{usuario.registration | date:'medium'}}</span>
        </label>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">info</mat-icon>
          Informacion general
        </ng-template>
        <div class="contenedor-informacion-general">
          <p>{{_UserListService.generalInformation.nombreCompleto}}</p>
          <p>{{_UserListService.generalInformation.direccion}}</p>
          <p>{{_UserListService.generalInformation.nationality == 223 ? 'MEXICANO (A)' : 'EXTRANJERO (A)'}}</p>
          <p>{{_UserListService.generalInformation.birthdate}}</p>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Imagenes aprobadas
        </ng-template>
        <div class="imagenes-aprobadas">
          <div class="container-galeria">
            <div class="container-img" *ngFor="let img of _UserListService.urlList">
              <img class="overImage" style="width: 100%; height: 100%;" src="{{_UserListService.url + 'admin/get-image-file?imageFile=' + img.location}}"
                (click)="sendURL(_UserListService.url + 'admin/get-image-file?imageFile=' + img.location)">
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_down</mat-icon>
          Imagenes erroneas
        </ng-template>
        <div class="imagenes-Noaprobadas">
          <div class="container-galeria">
            <div class="container-img" *ngFor="let img of _UserListService.urlListBad">
              <img class="overImage" style="width: 100%; height: 100%;" src="{{_UserListService.url + 'admin/get-image-file?imageFile=' + img.location}}"
                (click)="sendURL(_UserListService.url + 'admin/get-image-file?imageFile=' + img.location)">
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>

</mat-accordion>