<mat-toolbar color="primary" style="height: 15vh;background-color: #F1F1F1;">
  <mat-toolbar-row style="background-color: #686868; height: 60%;">
    <img [src]="imagePath" style="width: 170px; height: 44px;">
    <span class="example-spacer"></span>
    <a class="mdl-navigation__link" (click)="logOut()" style="right: 50px; color: #FFFFFF !important" routerLink="/login-panel"
      href>
      Cerrar sesión</a>
  </mat-toolbar-row>
  <mat-toolbar-row style="background-color: #F1F1F1; height: 40%;">
    <!-- <button class="blanco" mat-button [matMenuTriggerFor]="activVariables">Busqueda de usuarios -->
    <button class="blanco" mat-button>Busqueda de usuarios
      <!-- <i class="fas fa-angle-down"></i> -->
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<!-- <mat-menu #activVariables="matMenu">
    <button mat-menu-item routerLink="/director-panel/solicitantes">Solicitantes</button>
    <button mat-menu-item routerLink="/director-panel/busqueda-expedientes">Expedientes</button>
  </mat-menu> -->