<mat-toolbar class="center">
  <strong>{{data.url}}</strong>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button *ngIf="data.action=='descargar'" (click)="captureScreen()">
      <mat-icon>cloud_download</mat-icon>
      DESCARGAR
    </button>
    <button mat-button *ngIf="data.action=='guardar'" style="background-color: green; color: white;" (click)="captureScreen()">
      <mat-icon>save</mat-icon>
      GUARDAR
    </button>
</mat-toolbar>
<div style="height: 100vh; overflow: auto; border: 3px solid grey">
  <div id="contentToConvert" class="example-card" style="padding: 15px;">
    <style>
      p {
        font-weight: bold;
        text-align: justify;
      }
    </style>
    <p style="text-align: center !important; font-size: 2.0em;">{{data.url}}</p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis voluptatibus assumenda aperiam non recusandae, quasi
      quibusdam, sapiente fugit laudantium, exercitationem expedita reprehenderit facilis fuga animi vel quod hic aut eaque?
    </p>
  </div>

</div>