<div class="myContainer" style="position: relative;">
    <div class="mdl-grid center">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div class="mdl-grid centrado">
        <div class="mdl-cell mdl-cell--12-col" *ngFor="let item of indicadoresBuro">

            <div style="text-align: center" *ngIf="item.id == 1" class="divs">
                <p class="titles">{{item.name}}%</p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Tasa" type="number" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        [(ngModel)]="ranges.tasa" name="tasa" #tasa="ngModel" required>
                    <div *ngIf="tasa.invalid && (tasa.dirty || tasa.touched)" class="alert alert-danger">
                        <mat-error *ngIf="tasa.errors.required">
                            Tasa is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>

            <!--BC Score-->
            <div style="text-align: center" *ngIf="item.status && item.id == 2" class="divs">
                <p class="titles">{{item.name}}</p>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Mínimo" type="number" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        [(ngModel)]="ranges.BC_Score" name="bc" #bc="ngModel" required>
                    <div *ngIf="bc.invalid && (bc.dirty || bc.touched)" class="alert alert-danger">
                        <mat-error *ngIf="bc.errors.required">
                            BC Score is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>

            <div style="text-align: center;" *ngIf="item.status && item.id == 2" class="centrado">
                <p class="titles">Configuración de scores</p>
                <div class="mdl-grid" *ngFor="let item of scoreList">
                    <div class="mdl-cell mdl-cell--4-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="DESDE" value="{{item.desde}}" [(ngModel)]="item.desde" (blur)="changeStore(item)" (keyup.enter)="changeStore(item)"
                                [ngModelOptions]="{standalone: true}">
                            <mat-hint>DESDE</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="HASTA" value="{{item.range}}" [(ngModel)]="item.range" (blur)="changeStore(item)" (keyup.enter)="changeStore(item)"
                                [ngModelOptions]="{standalone: true}">
                            <mat-hint>HASTA</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="PLAZO" value="{{item.plazo}}" [(ngModel)]="item.plazo" (blur)="changeStore(item)" (keyup.enter)="changeStore(item)"
                                [ngModelOptions]="{standalone: true}">
                            <mat-hint>PLAZO</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="mdl-grid" style="display: block;">
                    <button mat-raised-button class="azul" routerLink="/definicion-variables/activacion-variables-indicadores">
                        Indicadores de buró
                    </button>
                </div> -->
            </div>
            <div class="mdl-grid myContainer" *ngIf="item.status && item.id == 2">
                <div class="mdl-cell mdl-cell--12-col">
                    <button mat-raised-button (click)="add_configuration()" style="margin-left: 25%; width: 50%; color: #1165A7;">
                        Agregar Configuración
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

            </div>


            <!-- ICC -->
            <div style="text-align: center;" *ngIf="item.status && item.id == 3" class="centrado divs">
                <p class="titles">{{item.name}}</p>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input id="icc" name="icc" required min="4" matInput placeholder="Mínimo" type="number" [(ngModel)]="ranges.icc"  (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                                type="number" #icc="ngModel">
                            <div *ngIf="icc.invalid && (icc.dirty || icc.touched)" class="alert alert-danger">
                                <mat-error *ngIf="icc.errors.required">
                                    icc is required.
                                </mat-error>
                                <mat-error *ngIf="icc.errors.min">
                                    icc must be at least 4.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Máximo" type="number" value="9" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!--Alertas Hawk-->
            <div style="text-align: center" *ngIf="item.status && item.id == 4" class="divs">
                <p class="titles">{{item.name}}</p>
                NO
                <mat-slide-toggle [(ngModel)]="item.is_ok" color="primary" checked="{{item.is_ok}}" (change)="saveChange(item.id,item.is_ok)"></mat-slide-toggle>
                SI
            </div>

            <!--MOP mayor-->
            <div style="text-align: center" *ngIf="item.status && item.id == 5" class="centrado divs">
                <p class="titles">{{item.name}}</p>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Mínimo" type="number" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                                [(ngModel)]="ranges.MOP_mayor_min" name="MOPmayormin" #MOPmayormin="ngModel" min="1" required>
                            <div *ngIf="MOPmayormin.invalid && (MOPmayormin.dirty || MOPmayormin.touched)" class="alert alert-danger">
                                <mat-error *ngIf="MOPmayormin.errors.required">
                                    Mínimo is required.
                                </mat-error>
                                <mat-error *ngIf="MOPmayormin.errors.min">
                                    Mínimo must be at least 4.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Máximo" type="number" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                                [(ngModel)]="ranges.MOP_mayor_max" name="MOPmayormax" #MOPmayormax="ngModel" required>
                            <div *ngIf="MOPmayormax.invalid && (MOPmayormax.dirty || MOPmayormax.touched)" class="alert alert-danger">
                                <mat-error *ngIf="MOPmayormax.errors.required">
                                    Máximo is required.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>


            <!--Saldo Vencido-->

            <div style="text-align: center" *ngIf="item.status && item.id == 6" class="centrado divs">
                <p class="titles">{{item.name}}</p>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Mínimo" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)" type="number"
                                [(ngModel)]="ranges.Saldo_Vencido" name="saldoVencidoMin" #saldoVencidoMin="ngModel" required>
                            <div *ngIf="saldoVencidoMin.invalid && (saldoVencidoMin.dirty || saldoVencidoMin.touched)">
                                <mat-error *ngIf="saldoVencidoMin.errors.required">
                                    Mínimo is required.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Máximo" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)" type="number"
                                [(ngModel)]="ranges.Saldo_Vencido_max" name="saldoVencido" #saldoVencido="ngModel" required>
                            <div *ngIf="saldoVencido.invalid && (saldoVencido.dirty || saldoVencido.touched)">
                                <mat-error *ngIf="saldoVencido.errors.required">
                                    Máximo is required.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Tipo de ICC -->
    <div class="mdl-grid" *ngIf="this.ranges.icc" style="width: 70%;">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col" style="text-align: center;">INDICADOR</div>
                <div class="mdl-cell mdl-cell--6-col" style="text-align: center;">GASTO</div>
            </div>
            <div class="mdl-grid" *ngFor="let item of responseIccBuro" style="height: 72px;">
                <div class="mdl-cell mdl-cell--6-col" style="margin-top: 25px !important;">
                    <p style="text-align: center;">{{item.icc}}</p>
                </div>
                <div class="mdl-cell mdl-cell--6-col" style="margin-top: 25px !important;">
                    <p style="text-align: center;">{{item.free}}</p>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col" style="text-align: center;">INDICADOR</div>
                <div class="mdl-cell mdl-cell--6-col" style="text-align: center;">GASTO</div>
            </div>
            <div class="mdl-grid" *ngFor="let item of responseIccBank" style="height: 72px;">
                <div class="mdl-cell mdl-cell--6-col">

                    <p style="text-align: center;">{{item.icc}}</p>


                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <input matInput placeholder="GASTO" value="{{item.free}}" [(ngModel)]="item.free" (keyup.enter)="change_a_ICC(item)" (blur)="change_a_ICC(item)"
                            type="number" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid myContainer">
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/activacion-variables-indicadores" style="width: 100%;">
                Ir a indicadores de buró
            </button>
        </div>
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/scoring" style="width: 100%;">
                Ir a calculadora
            </button>
        </div>
    </div>
</div>