<div class="myContainer centrado" style="position: relative;">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div class="mdl-grid" *ngFor="let item of indicadoresPerfil">
        <!--edad-->
        <div class="mdl-grid divs" *ngIf="item.status && item.id == 7">
            <div class="mdl-cell mdl-cell--12-col titles">
                {{item.name}}
            </div>
            <div class="mdl-cell mdl-cell--6-col"> 
                <mat-form-field appearance="outline" style="display: block !important;">
                    <input matInput placeholder="Mínimo" type="number" [(ngModel)]="ranges.edadMin" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        name="edadMin" #edadMin="ngModel" required>
                    <div *ngIf="edadMin.invalid && (edadMin.dirty || edadMin.touched)">
                        <mat-error *ngIf="edadMin.errors.required">
                            Mínimo is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="outline" style="display: block !important;">
                    <input matInput placeholder="Máximo" type="number" [(ngModel)]="ranges.edadMax" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        name="edadMax" #edadMax="ngModel" required>
                    <div *ngIf="edadMax.invalid && (edadMax.dirty || edadMax.touched)">
                        <mat-error *ngIf="edadMax.errors.required">
                            Máximo is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
        </div>

        
        <!--ingresos declarados-->
        <div class="mdl-grid divs" *ngIf="item.status && item.id == 10">
            <div class="mdl-cell mdl-cell--12-col titles">
                {{item.name}}
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="outline" style="display: block !important;">
                    <input matInput placeholder="Mínimo" type="number" [(ngModel)]="ranges.ingresoMin" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        name="ingresoMin" #ingresoMin="ngModel" required>
                    <div *ngIf="ingresoMin.invalid && (ingresoMin.dirty || ingresoMin.touched)">
                        <mat-error *ngIf="ingresoMin.errors.required">
                            Mínimo is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="outline" style="display: block !important;">
                    <input matInput placeholder="Máximo" type="number" [(ngModel)]="ranges.ingresoMax" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                        name="ingresoMax" #ingresoMax="ngModel" required>
                    <div *ngIf="ingresoMax.invalid && (ingresoMax.dirty || ingresoMax.touched)">
                        <mat-error *ngIf="ingresoMax.errors.required">
                            Máximo is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
        </div>

        <!--CAPACIDAD DE PAGO-->

        <mat-card *ngIf="item.status && item.id == 11" style="width: 100%;">
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-content>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field>
                            <input matInput placeholder="Mínimo" type="number" [(ngModel)]="ranges.capacidadMin" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                                name="capacidadMin" #capacidadMin="ngModel" required>
                            <div *ngIf="capacidadMin.invalid && (capacidadMin.dirty || capacidadMin.touched)">
                                <mat-error *ngIf="capacidadMin.errors.required">
                                    Mínimo is required.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <mat-form-field>
                            <input matInput placeholder="Máximo" type="number" [(ngModel)]="ranges.capacidadMax" (blur)="saveChange(item.id,false)" (keyup.enter)="saveChange(item.id,false)"
                                name="capacidadMax" #capacidadMax="ngModel" required>
                            <div *ngIf="capacidadMax.invalid && (capacidadMax.dirty || capacidadMax.touched)">
                                <mat-error *ngIf="capacidadMax.errors.required">
                                    Máximo is required.
                                </mat-error>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Tope mensualidad -->
        <div class="mdl-grid divs" *ngIf="item.status && item.id == 14">
            <div class="mdl-cell mdl-cell--12-col titles">
                {{item.name}}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <mat-form-field appearance="outline" style="display: block !important;">
                    <input matInput placeholder="Porcentaje" type="number" [(ngModel)]="ranges.Porcentaje_pago" (blur)="saveChange(item.id,false)"
                        (keyup.enter)="saveChange(item.id,false)" name="Porcentajepago" #Porcentajepago="ngModel" required>
                    <mat-icon matSuffix>%</mat-icon>

                    <div *ngIf="Porcentajepago.invalid && (Porcentajepago.dirty || Porcentajepago.touched)">
                        <mat-error *ngIf="Porcentajepago.errors.required">
                            Máximo is required.
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>
        </div>

        <!--nacionalidad-->
        <div *ngIf="item.status && item.id == 9" class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col titles">
                {{item.name}}
            </div>
            <div class="mdl-cell mdl-cell--12-col">

                <ul class="demo-list-two mdl-list" style="margin-left: 20%">
                    <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of nacionalidades">
                        <span>
                            <mat-slide-toggle checked="{{item.status}}" color="primary" (click)="setNacionalidad(item)"></mat-slide-toggle>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span>{{item.name}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <!--ocupation-->
        <div *ngIf="item.status && item.id == 8" class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col titles">
                {{item.name}}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <ul class="demo-list-two mdl-list" style="margin-left: 20%">
                    <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of profesiones">
                        <span>
                            <mat-slide-toggle checked="{{item.status}}" color="primary" (click)="setCheck(item)"></mat-slide-toggle>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <span>{{item.name}}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="mdl-grid myContainer">
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/activacion-variables-cliente" style="width: 100%;">
                Indicadores de perfil
            </button>
        </div>
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/activacion-variables-indicadores" style="width: 100%;">
                Indicadores de buró
            </button>
        </div>
    </div>

</div>