<div class="centrado" style="background-color: #FDFDFD">
    <div class="mdl-grid" style="background-color: #FFFFFF;">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="mdl-grid">
        <ul class="demo-list-two mdl-list" style="margin-left: 25%;">
            <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of perfilList">
                <span>
                    <mat-slide-toggle color="primary" checked="{{item.status}}" (click)="setCheck(item)"></mat-slide-toggle>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <span>{{item.name}}</span>
                </span>
            </li>
        </ul>
    </div>
    <button mat-raised-button class="azul" routerLink="/definicion-variables/criterios-cliente">
        Ir a criterios mínimos del perfil
    </button>
</div>