<div class="myContainer centrado">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="mdl-grid" style="align-content: center;">

        <ul class="demo-list-two mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let item of indicadoresList">
                <span>
                    <mat-slide-toggle checked="{{item.status}}" color="primary" (click)="setCheck(item)"></mat-slide-toggle>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <span>{{item.name}}</span>
                </span>
            </li>
        </ul>

    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/criterios-cliente" style="width: 100%;">
                Ir a criterios mínimos del perfil
            </button>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <button mat-raised-button class="azul" style="width: 100%;" routerLink="/definicion-variables/criterios-indicadores">
                Ir a criterios mínimos del buró
            </button>
        </div>
    </div>


</div>