.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .center{
        text-align: center;
    }

    .example-form {
        width: 100% !important;
    }
    
    .example-full-width {
        display: block;
    }

    .botones{
        width: 100%; background-color: #116AAE; border: 1px solid #116AAE; color: #ffffff
    }
}
