<mat-toolbar color="primary" style="height: 15vh;">
  <mat-toolbar-row style="background-color: #686868;">
    <img [src]="imagePath" style="width: 170px; height: 44px;">
    <span class="example-spacer"></span>
    <a class="mdl-navigation__link" (click)="logOut()" style="right: 50px; color: #FFFFFF !important" routerLink="/login-panel"
      href>
      Cerrar sesión</a>
  </mat-toolbar-row>
  <mat-toolbar-row style="background-color: #F1F1F1;">
    <a class="mdl-navigation__link" (click)="logOut()" style="right: 50px; color: #FFFFFF !important" routerLink="/login-panel"
      href>
      Formalización del crédito</a>
  </mat-toolbar-row>
</mat-toolbar>