/* You can add global styles to this file, and also import other style files */

.verde{
  background-color: #009688 !important;
  color: #fff !important;
}

.azul{
  background-color: #116AAE !important;
  color: #fff !important;
}

  .myContainer {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  .center{
    text-align: center !important;
  }