<div class="myContainerr" style="position: relative;">
    <div class="mdl-grid" style="height: 90vh !important;">
        <div class="mdl-cell mdl-cell--8-col" style="height: 85vh !important; overflow: auto;">
            <!-- List with avatar and controls -->
            <ul class="demo-list-control mdl-list" style="display: grid; grid-template-columns: 1rf; gap: 5px;">
                <li class="mdl-list__item" style="background-color: rgb(93, 173, 226, .5);" *ngFor="let item of orderList; let i = index">
                    <span class="mdl-list__item-primary-content">
                        <strong>{{i+1}}.- </strong>
                        <mat-form-field *ngIf="getbuttonsPermitions(item.sort)">
                            <mat-select [(value)]=item.salida (selectionChange)="doSomething($event, i)">
                                <mat-option [value]=1 [disabled]="salidas.mensualidad.checked">MENSUALIDAD</mat-option>
                                <mat-option [value]=2 [disabled]="salidas.plazo.checked">PLAZO</mat-option>
                                <mat-option [value]=3 [disabled]="salidas.linea_credito.checked">LÍNEA FINAL</mat-option>
                                <mat-option [value]=4 [disabled]="salidas.tasa.checked">TASA</mat-option>
                            </mat-select>
                        </mat-form-field>
                        {{item.name}}
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="background-color: rgb(93, 173, 226, .5);"
                            *ngIf="getbuttonsPermitions(item.sort)" (click)="removeVariable(item)">
                            <i class="fas fa-times"></i>
                        </button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-grid" style="height: 10vh !important; overflow: auto;">
                <div class="mdl-cell mdl-cell--6-col">
                    <button class="mdl-button mdl-js-button mdl-button--primary" style="background-color: #DCDCDC; color: #000000; display: block;"
                        (click)="clearTree()">
                        <i class="fas fa-eraser"></i>
                    </button>
                    <!-- <button mat-raised-button style="background-color: #DCDCDC; color: #000000;" (click)="clearTree()">
                        <i class="fas fa-eraser"></i>
                    </button> -->
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <!-- Primary-colored flat button -->
                    <button class="mdl-button mdl-js-button mdl-button--primary" style="background-color: #90A7BB; color: #ffffff; display: block;"
                        (click)="saveChange()">
                        <i class="fas fa-save"></i>
                    </button>

                </div>
            </div>
            <div class="mdl-grid" style="height: 25vh !important;">
                <div class="mdl-cell mdl-cell--12-col">
                    <mat-slide-toggle [checked]="salidas.mensualidad.checked" [disabled]="!salidas.mensualidad.checked" color="primary" (change)="cambio(1)">MENSUALIDAD</mat-slide-toggle>
                    <!-- <mat-checkbox [(ngModel)]="salidas.mensualidad.checked" (change)="cambio(1)">MENSUALIDAD</mat-checkbox> -->
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <mat-slide-toggle [checked]="salidas.plazo.checked" [disabled]="!salidas.plazo.checked" color="primary" (change)="cambio(2)">PLAZO</mat-slide-toggle>
                    <!-- <mat-checkbox [(ngModel)]="salidas.plazo.checked" (change)="cambio(2)">PLAZO</mat-checkbox> -->
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <mat-slide-toggle [checked]="salidas.linea_credito.checked" [disabled]="!salidas.linea_credito.checked" color="primary" (change)="cambio(3)">LÍNEA FINAL</mat-slide-toggle>
                    <!-- <mat-checkbox [(ngModel)]="salidas.linea_credito.checked" (change)="cambio(3)">LÍNEA FINAL</mat-checkbox> -->
                </div>

                <div class="mdl-cell mdl-cell--12-col">
                    <mat-slide-toggle [checked]="salidas.tasa.checked" [disabled]="!salidas.tasa.checked" color="primary"  (change)="cambio(4)">TASA</mat-slide-toggle>
                    <!-- <mat-checkbox [(ngModel)]="salidas.tasa.checked" (change)="cambio(4)">TASA</mat-checkbox> -->
                </div>

            </div>
            <div class="mdl-grid" style="height: 40vh !important; overflow: auto;">
                <mat-chip-list class="mat-chip-list-stacked" style="width: 100%;">
                    <mat-chip class="card-text" *ngFor="let item of listVariables2" selected="true" color="default" (click)="addVariable(item)">
                        {{item.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>
    </div>

    <div class="mdl-grid" style="margin-top: -50px;">
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/definicion-variables/scoring" style="width: 100%;">
                Ir a aritmética de scoring
            </button>
        </div>
        <div class="mdl-cell mdl-cell--6-col" style="background-color: aqua">
            <button mat-raised-button class="azul" routerLink="/pruebas/validacion-formulas" style="width: 100%;">
                Ir a validación de fórmulas
            </button>
        </div>
    </div>

    <!-- <button mat-raised-button class="verde" routerLink="/definicion-variables/scoring" style="left: 5%; position: absolute; bottom: 5px;">
        <i class="fas fa-arrow-alt-circle-left"></i>
    </button>
    <button mat-raised-button class="verde" style="right: 5%; position: absolute; bottom: 5px;" routerLink="/pruebas/validacion-formulas">
        <i class="fas fa-arrow-alt-circle-right"></i>
    </button> -->
</div>