<div class="myContainer" style="position: relative;">
    
        <div class="card bg-light mb-3" style="height: 90vh !important;">
            <div class="row" style="margin-left: 5px; margin-top: 5px !important; height: 50px !important;">
                <div class="col">
                    <mat-checkbox [(ngModel)]="salidas.mensualidad.checked" (change)="cambio(1)">MENSUALIDAD</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox [(ngModel)]="salidas.plazo.checked" (change)="cambio(2)">PLAZO</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox [(ngModel)]="salidas.linea_credito.checked" (change)="cambio(3)">LÍNEA FINAL</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox [(ngModel)]="salidas.tasa.checked" (change)="cambio(4)">TASA</mat-checkbox>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <div class="card bg-light mb-3" style="height: 80vh !important;">
                            <div class="card-header" style="position: relative;">{{title}}
                                <button style="position: absolute; right: 150px; top: 3px;" mat-raised-button class="verde" (click)="clearTree()">
                                    <i class="fas fa-eraser"></i>
                                </button>
                                <button style="position: absolute; right: 3px; top: 3px;" mat-raised-button class="verde" (click)="saveChange()">
                                    <i class="fas fa-save"></i>
                                </button>
                            </div>
                            <div class="card-body" style=" overflow: auto;">
                                <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngFor="let item of orderList; let i = index">
                                    <strong>{{i+1}}.- </strong>
                                    <mat-form-field *ngIf="getbuttonsPermitions(item.sort)">
                                        <mat-select [(value)]=item.salida (selectionChange)="doSomething($event, i)">
                                            <mat-option [value]=1 [disabled]="salidas.mensualidad.checked">MENSUALIDAD</mat-option>
                                            <mat-option [value]=2 [disabled]="salidas.plazo.checked">PLAZO</mat-option>
                                            <mat-option [value]=3 [disabled]="salidas.linea_credito.checked">LÍNEA FINAL</mat-option>
                                            <mat-option [value]=4 [disabled]="salidas.tasa.checked">TASA</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    {{item.name}}
                                    <button *ngIf="getbuttonsPermitions(item.sort)" type="button" class="close" aria-label="Close" (click)="removeVariable(item)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card bg-light mb-3" style="height: 77vh !important;">
                            <div class="card-header">VARIABLES CREADAS</div>
                            <div class="card-body" style=" overflow: auto;">
                                <mat-chip-list class="mat-chip-list-stacked">
                                    <mat-chip class="card-text verde" *ngFor="let item of listVariables2" selected="true" color="accent" (click)="addVariable(item)">
                                        {{item.name}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <button mat-raised-button class="verde" routerLink="/definicion-variables/scoring" style="left: 5%; position: absolute; bottom: 5px;">
        <i class="fas fa-arrow-alt-circle-left"></i>
    </button>
    <button mat-raised-button class="verde" style="right: 5%; position: absolute; bottom: 5px;" routerLink="/pruebas/validacion-formulas">
        <i class="fas fa-arrow-alt-circle-right"></i>
    </button>
</div>